                   
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-circle text-green"></i> <span id="nameDiv">{{name}}</span></h4>
                    </div>
                    <div class="portlet-widgets">
                        <div class="btn-group">
                            <button type="button" class="btn btn-white btn-xs" ng-click="logout()" >
                                <i class="fa fa-circle text-green"></i>logout
                            </button>
                        </div>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div >
                    <div class="portlet-body chat-widget"  style="overflow-y: auto; width: auto; height: 300px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="text-center text-muted small">{{now}}</p>
                            </div>
                        </div>

						<div class="bubble-container" ng-repeat="m in messages" >
		                        <div class="row">
		                            <div class="col-lg-12">
		                                <div class="media" ng-class="m.side">
		                                    <a class="pull-{{m.side}}" href="#">
		                                        <img class="media-object img-circle" ng-src="{{m.avatar}}" alt="">
		                                    </a>
		                                    <div class="media-body">
		                                        <h4 class="media-heading">{{m.name}}
		                                            <span class="small">{{m.time}}</span>
		                                        </h4>
		                                        <p>{{m.text}}</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <hr>
		                </div>

                    </div>
                    </div>
                    <div class="portlet-footer">
					<form role="form" ng-submit="sendMessage()" >
                            <div class="form-group">
                                <textarea ng-model="messageText" class="form-control" placeholder="Enter message..."></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-disabled="!messageText" class="btn btn-default pull-right">Send</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
</div>